
%body
    .fb-root &nbsp;
    :javascript
        window.fbAsyncInit = function() {
        FB.init({
          appId      : '277793922328944',
          channelUrl : '//0.0.0.0:4567//channel.html',
          status     : true,
          cookie     : true,
          xfbml      : true
        }); };
        (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
        }(document, /*debug*/ false));
    .fluid-container
        .hero-unit
    %ul{:class => "thumbnails"}
        - @bucket.objects.each do |obj|
            %li{:class => "span2"}
                .thumbnail
                    %a{:title => "Victoria Wings!", :class => "fancybox", :rel => "fancybox", :href => 'https://s3.amazonaws.com/wings_victoria_/' + obj.key}
                        %img{:src => 'https://s3.amazonaws.com/wings_victoria_/' + obj.key}
