#content
  #info
    %h2 this/that show photos
    %p
      Click on a photograph for the high resolution version.
    %p
      You can also option-click (mac) or right-click (pc) and select to download.
    .row
  %ul
    -@images.each do |thumb|
      %li
      .span4
        %p.info
          %a{:href => thumb[:full]}
            =thumb[:name]
          %span.size
            ="#{'%.0f' % (thumb[:size] / 1024)}k"

        %a{:href => thumb[:full]}
          %img{:src => thumb[:thumb]}